<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">
System accountant: <br />
<br />
Stan magazynu: <br />
{{ stock }}<br />
<br />
Saldo: <br />
{{ account }} <br />
<br />
Wykonaj: <br />
<a href="/zakup/">Zakup</a><br />
<a href="/sprzedaz/">Sprzedaż</a><br />
<a href="/saldo/">Saldo</a><br />
