<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ZAKUP</title>
</head>
<body>
<div class="form-group">
  <label class="form-label" for="input-example-1">Produkt: </label>
  <input class="form-input" type="text" id="input-example-1" placeholder="np: Arduino"><br />
  <br />
  <label class="form-label" for="input-example-1">Cena: </label>
  <input class="form-input" type="number" id="input-example-2" placeholder="Podana w złotówkach"><br />
  <br />
  <label class="form-label" for="input-example-1">Ilość: </label>
  <input class="form-input" type="number" id="input-example-3" placeholder="Kupionych sztuk"><br />
  <br />
  <button class="btn btn-success">Wyślij</button>
</div>
</body>
</html>